#foodcoop-order-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #fbfbfb;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 10px 10%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #ccc;
}

#foodcoop-order-bar .wrap {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

.table-title {
  font-weight: bold;
  background-color: transparent !important;
  border-bottom: 1px solid #ccc;
}

#foodcoop-order-table input[type="number"] {
  width: 5em;
}

.table-row {
  border-bottom: 1px solid #f0f0f0;
  font-size: 12pt;
  padding: 10px;
}

.product-name {
  font-weight: bold;
}

#bestellrunden {
  font-weight: bold;
  font-size: 1.25em;
  padding: 25px;
  margin: 50px 0 0 0;
  width: 100%;
  display: block;
  border-bottom: 0px solid #f0f0f0;
  background-color: #f0f0f0;
}

.order-bar-item {
  font-weight: bold;
  margin: 0 100px 0 0;
}

#foodcoop-order-table {
  margin-bottom: 200px;
}

#foodcoop-order-table tr:nth-child(even) {
  background-color: #fafafa;
}

#foodcoop-order-table tr:nth-child(odd) {
  background-color: #f0f0f0;
}

#foodcoop-order-table th {
  background-color: #fff !important;
  border-bottom: 1px solid #000;
  font-size: 12pt;
  padding: 10px;
}

.table-category {
  font-weight: bold;
  font-size: 1.5em !important;
  background-color: transparent !important;
  padding-top: 40px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 20px !important;
  border-bottom: 1px solid #f0f0f0 !important;
}

.table-category span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  padding: 10px 0px;
  border-radius: 5px;
}

.foodcoop-list-number:disabled {
  background-color: #ccc;
}

#foodcoop-order-submit-deactivated {
  padding: 15px 30px;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ccc;
}

table.wp-list-table .column-price {
  width: 20ch !important;
}

/* WALLET */
.foodcoop_wallet_transaction_form_wrapper,
.foodcoop_wallet_memberfee_form_wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: transparent;
}

.foodcoop_wallet_transaction_form,
.foodcoop_wallet_memberfee_form {
  position: fixed;
  overflow-y: scroll;
  width: 70%;
  max-height: 80%;
  margin: 10px 20% 40px 10%;
  padding: 30px 2.5%;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.foodcoop_wallet_transaction_form_header {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.foodcoop_wallet_transaction_form_row {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.foodcoop_wallet_transaction_form_history {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.foodcoop_wallet_transaction_form_history td {
  border: 1px solid #ccc;
}

.woocommerce-MyAccount-content .foodcoop_wallet_transaction_form_history td {
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.foodcoop_wallet_transaction_form_input {
  width: 100%;
  border: 0px solid #ccc;
  border-collapse: collapse;
}

.foodcoop_wallet_transaction_form_input td {
  border: 0px solid #ccc;
}

.foodcoop_wallet_transaction_form_close,
.foodcoop_wallet_memberfee_form_close {
  display: inline-block;
  margin-top: 10px;
  background-color: #f0f0f0;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.foodcoop_wallet_transaction_form_submit {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  color: #0071a1;
  border: 1px solid #0071a1;
  background: #f3f5f6;
}

.foodcoop_wallet_transaction_form_details {
  width: 100%;
}

#import-products-form {
  position: relative;
  display: block;
}

.block-use {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-weight: bold;
}

.info {
  display: inline-block;
  text-align: center;
  width: 23px;
  height: 23px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-weight: bold;
}

.info-fehlen-div {
  display: none;
  position: absolute;
  top: 25px;
  left: -150px;
  width: 300px;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-size: 0.8em;
}

#bestellrunde_orders span {
  float: right;
}

.bestellrunde_orders {
  text-align: right;
}

.button.delete {
  border-color: #e50000;
  color: #e50000;
}

.post-type-bestellrunden #delete-action {
  display: none;
}
