#fc_dashboard {
  display: block;
  width: 100%;
}

.pluginWrapper {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}

.pluginHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
  color: #000;
  font-size: 1.25em;
  background-color: white;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.pluginBody {
  display: block;
  width: 100%;
  margin-top: 10px;
  color: #000;
  font-size: 1em;
  box-sizing: border-box;
}

.pluginHome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
}

.pluginLogo {
  height: 20px;
  margin-right: 10px;
}

.pluginMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.firstMenuItem {
  border: 0 !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.pluginMenu span {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #1976d2;
  color: #1976d2;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: start;
}

.pluginMenu span svg {
  margin-right: 10px;
}

.pluginMenu span:hover {
  color: #000;
  cursor: pointer;
}

.pluginHome:hover {
  color: #2271b1;
  cursor: pointer;
}

.menuItemActive {
  color: black !important;
}

.statusMessage {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 1.25em;
  color: white;
  border: 1px solid gray;
}

.successStatus {
  background-color: #2e7d32;
}

.modalRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.modalRow span {
  margin-bottom: 5px;
}

.MuiTableCell-root input {
  width: 100% !important;
  height: 100% !important;
}

.MuiInputBase-input {
  border: none !important;
}

.MuiDialogContent-root input[type="number"] {
  padding: 16.5px 14px !important;
}

.MuiDialogContent-root input[type="radio"] {
  visibility: hidden;
}

.MuiDialogContent-root input[type="text"],
.MuiDialogContent-root input[type="email"],
.MuiDialogContent-root input[type="number"] {
  padding: 8.5px 14px 4px 14px !important;
}

.MuiDialogContent-root input[type="text"]:focus,
.MuiDialogContent-root input[type="email"]:focus,
.MuiDialogContent-root input[type="number"]:focus {
  outline: none !important;
  box-shadow: none !important;
}

.MuiInputBase-root select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding: 16.5px 14px;
}

.MuiInputBase-root option {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
  line-height: 1.4375em !important;
  letter-spacing: 0.00938em !important;
  color: rgba(0, 0, 0, 0.87) !important;
  box-sizing: border-box !important;
  position: relative !important;
  cursor: text !important;
  display: -webkit-inline-box !important;
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-align-items: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  position: relative !important;
  border-radius: 4px !important;
}

.css-cyxlny-MuiPaper-root-MuiDialog-paper {
  max-width: 70% !important;
}

.order_manual_public {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fc_order_list_input {
  padding: 2px 5px !important;
}

.fc_order_list_title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #e3e3e3;
  margin-bottom: 0 !important;
  margin-top: 10px;
  padding: 20px 15px;
  font-size: 1.25em !important;
  font-weight: bold;
  transition: all 0.1s;
  border: none;
  z-index: 100;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fc_order_list_title:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.fc_order_list_title_arrow svg {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
}

.fc_order_list_category_wrapper {
  overflow-y: hidden;
}

.fc_order_list_cat_wrapper {
  background-color: #f9f9f9;
  margin-bottom: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 50;
}

.fc_order_list_line {
  display: flex;
  flex-direction: row;
  width: 100% !important;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0.8em;
}

.fc_order_list_col {
  padding: 5px 1%;
  border-bottom: 1px solid #e3e3e3;
  align-self: stretch;
}

.fc_order_list_header {
  padding: 5px 1%;
  border-bottom: 1px solid #e3e3e3;
  align-self: stretch;
  font-weight: bold;
  padding-top: 10px;
  background-color: #f9f9f9;
}

.col_1 {
  width: 12%;
}

.col_2 {
  width: 20%;
}

.col_25 {
  width: 20%;
}

.col_3 {
  width: 20%;
}

.col_4 {
  width: 10%;
  text-align: right;
}

.col_5 {
  width: 9%;
  text-align: right;
}

.col_6 {
  width: 9%;
  text-align: right;
}

.fc_order_list_col input {
  width: 100% !important;
  margin: 0 5px !important;
  max-width: 100% !important;
  padding: 4px 6px;
}

.fc_order_list_col button {
  padding: 0;
}

.fc_order_list_col input::-webkit-outer-spin-button,
.fc_order_list_col input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.fc_order_list_col input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  min-width: 34px;
  background-color: #f0f0f0;
  text-align: center;
}

.col_nmbr {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#fc_order_bar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  width: 100%;
  height: 180px;
  background-color: #f9f9f9;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 999;
}

#fc_order_bar .multi-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.fc_order_bar_col {
  width: 50%;
  max-width: 500px;
  padding: 0 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.fc_order_bar_col div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  align-self: stretch;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px dashed #cacaca;
}

.fc_order_bar_finances {
  padding: 15px 25px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.fc_order_bar_actions {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.fc_order_bar_actions button {
  font-size: 0.8em !important;
  background-color: #e3e3e3;
  border-color: #5a5a5a;
  color: #000000;
  margin-left: 10px;
  padding: 10px 15px;
}

.fc_order_bar_actions button:hover {
  background-color: #cacaca;
  border-color: #cacaca;
}

.fc_order_bar_actions .cartButton {
  font-size: 1em !important;
  background-color: #e3e3e3;
  border-color: #cccccc;
  color: #000000;
  padding: 10px 25px;
}

.fc_order_bar_actions .cartButton:hover {
  background-color: #cacaca;
  border-color: #888888;
}

#fc_shopping_list {
  position: fixed;
  bottom: 180px;
  right: 10px;
  width: auto;
  width: 50%;
  min-height: 100px;
  max-height: 70vh;
  overflow-y: scroll;
  background-color: #f9f9f9;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.2s;
}

#fc_shopping_list hr {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

#fc_shopping_list div {
  display: block;
  width: 100%;
}

.order_manual_public {
  position: fixed;
  bottom: 180px;
  right: 10px;
  width: auto;
  width: 50%;
  min-height: 100px;
  max-height: 70vh;
  overflow-y: scroll;
  background-color: #f9f9f9;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.2s;
}

.order_manual_public span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.order_manual_public span svg {
  margin-right: 15px;
}

.order_manual_public hr {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.transition-y-enter {
  transform: translateY(-100%);
  opacity: 0;
}
.transition-y-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s;
}
.transition-y-exit {
  transform: translateY(0);
  opacity: 1;
}
.transition-y-exit-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.2s;
}

.transition-y-up-enter {
  transform: translateY(+100%);
  opacity: 0;
}
.transition-y-up-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s;
}
.transition-y-up-exit {
  transform: translateY(0);
  opacity: 1;
}
.transition-y-up-exit-active {
  transform: translateY(+100%);
  opacity: 0;
  transition: all 0.5s;
}

#fc_order_list table {
  margin: 0;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
}

#fc_order_list table td {
  border: none;
  border-bottom: 1px solid #e3e3e3;
}

#fc_order_list table td:first-child {
  width: 200px;
}

#fc_order_list table tr:last-child td {
  border: none;
}

.fc_order_list_cat_wrapper div:last-child span {
  border: none;
}

.fc_datepicker input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 6px 10px 6px 10px !important;
}

.fc_datepicker label {
  margin-top: -5px;
}
